/* Register this `styles` folder in core.setting in variable `STATICFILES_DIRS` as static */
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

html {
  background-color: black;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-name {
  line-height: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.4em;
  font-size: 1.5em;
  font-family: 'Rampart One', cursive;
}

.ui-outer-border {
  border: 2px solid #98a6d4;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 1px 1px 1px 2px rgba(30, 200, 0, 0.3);
}

.ui-inner-alignment {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 50%;
  color: #cdd1de;
}

.ui-api-label {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.1rem;
}

.ui-api-button {
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(152, 166, 212, 0.8);
  border-color: none;
  border-radius: 4px;
}

.ui-api-button:hover {
  cursor: pointer;
  background-color: rgb(152, 166, 212);
}
